/* All references made can be found in the reading material for this Level, unless stated otherwise. */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(222, 243, 246);
  color: rgb(2, 16, 67);
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  border: none;
}
